<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>error-page</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css"/>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <!--werkt nog ni volledig-->
            <h1 th:text="${errorMessage.status != null} ? ${errorMessage.status} : '404'"></h1>
            <h2 th:text="${errorMessage.description != null} ? ${errorMessage.description} : 'Page Not Found'"></h2>
            <!--<h2 th:text="${errorMessage} ? ${errorMessage.description} : 'Page Not Found'"></h2>-->
        </div>
        <div>
        </div>
    </div>
</body>
</html>