<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>error-page</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css"/>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <!--<h1 th:text="${errorMessage.status}"></h1>-->
            <!--<h2 th:text="${errorMessage.description}"></h2>-->
            <h1>404</h1>
            <h2>uitleg</h2>
        </div>
        <div>
        </div>
    </div>
</body>
</html>